Repository civicteam/auth-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, library, examples, dependencies, ci, test

.github/labeler.yml:

# Add 'documentation' label to any change in docs files
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.md'
      - 'docs/**'

# Add 'library' label to changes in the library package
library:
  - changed-files:
    - any-glob-to-any-file: 'library/**'

# Add 'examples' label to changes in examples
examples:
  - changed-files:
    - any-glob-to-any-file: 'examples/**'

# Add 'dependencies' label to dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package.json'
      - '**/pnpm-lock.yaml'
      - '.npmrc'

# Add 'ci' label to CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'turbo.json'

# Add 'test' label to test changes
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/vitest.config.ts'
      - '**/test/**'

chore: prepare v0.2.7 release
  library/package.json
Labels: library, dependencies

Update to latest mcp sdk
  library/package.json
  pnpm-lock.yaml
Labels: library, dependencies

Update to latest mcp sdk
  examples/client/cli/package.json
  examples/server/whoami/package.json
  package.json
  pnpm-lock.yaml
Labels: examples, dependencies

chore: prepare v0.2.8 release
  CHANGELOG.md
  library/package.json
Labels: documentation, library, dependencies

NEXUS-1545 fix(legacy): preserve mcp:tools scope during DCR registration
  library/src/legacy/OAuthProxyHandler.test.ts
  library/src/legacy/OAuthProxyHandler.ts
Labels: library, test

NEXUS-1545 fix(deps): resolve audit-ci security advisories
  audit-ci.jsonc
  examples/client/cli/package.json
  examples/server/whoami/package.json
  library/package.json
  package.json
  pnpm-lock.yaml
Labels: library, examples, dependencies

fix(release): bump version to 0.2.9 for npm publish
  CHANGELOG.md
  library/package.json
Labels: documentation, library, dependencies

NEXUS-1691 feat: dynamic resource URL derivation with configurable header resolution
  CHANGELOG.md
  library/README.md
  library/package.json
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/legacy/LegacyOAuthRouter.test.ts
  library/src/legacy/LegacyOAuthRouter.ts
  library/src/legacy/OAuthProxyHandler.ts
  library/src/resolveUrl.test.ts
  library/src/resolveUrl.ts
  library/src/types.ts
Labels: documentation, library, dependencies, test

NEXUS-1691 refactor: use req.originalUrl instead of mount path middleware, support relative resourceUrl
  library/src/index.test.ts
  library/src/index.ts
  library/src/types.ts
Labels: library, test

NEXUS-1691 refactor: drop resourceUrl option, derive resource URL from originalUrl + mcpRoute
  CHANGELOG.md
  library/README.md
  library/src/index.test.ts
  library/src/index.ts
  library/src/types.ts
Labels: documentation, library, test

NEXUS-1691 fix: construct WWW-Authenticate metadata URL per RFC 9728 Section 3
  library/README.md
  library/src/index.test.ts
  library/src/index.ts
Labels: documentation, library, test

NEXUS-1691 test: add wildcard well-known matching test for sub-path mounts
  library/src/index.test.ts
Labels: library, test

NEXUS-1691 fix: legacy OAuth metadata and callback URLs should not include mount path
  CHANGELOG.md
  library/src/legacy/LegacyOAuthRouter.ts
  library/src/legacy/OAuthProxyHandler.ts
Labels: documentation, library

NEXUS-1691 docs: fix protocolHeader and hostHeader jsdoc descriptions
  library/src/types.ts
Labels: library

NEXUS-1691 docs: note legacy OAuth endpoints need remapping for sub-path mounts
  library/README.md
Labels: documentation, library

NEXUS-1691: Dynamic resource URL derivation (#100)
  CHANGELOG.md
  library/README.md
  library/package.json
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/legacy/LegacyOAuthRouter.test.ts
  library/src/legacy/LegacyOAuthRouter.ts
  library/src/legacy/OAuthProxyHandler.ts
  library/src/resolveUrl.test.ts
  library/src/resolveUrl.ts
  library/src/types.ts
Labels: documentation, library, dependencies, test

fix: forward all JWT claims to consumer via extra field
  library/package.json
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/types.ts
Labels: library, dependencies, test

chore: upgrade vite/vitest, remove stale pnpm overrides, fix lint and test compat
  examples/server/whoami/src/index.ts
  library/src/client/transport/RestartableStreamableHTTPClientTransport.test.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/legacy/LegacyOAuthRouter.test.ts
  library/src/legacy/OAuthProxyHandler.ts
  library/src/resolveUrl.test.ts
  library/src/resolveUrl.ts
  package.json
  pnpm-lock.yaml
Labels: library, examples, dependencies, test

NEXUS-1874: Forward all JWT claims to consumer (#101)
  examples/server/whoami/src/index.ts
  library/package.json
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/client/transport/RestartableStreamableHTTPClientTransport.test.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/legacy/LegacyOAuthRouter.test.ts
  library/src/legacy/OAuthProxyHandler.ts
  library/src/resolveUrl.test.ts
  library/src/resolveUrl.ts
  library/src/types.ts
  package.json
  pnpm-lock.yaml
Labels: library, examples, dependencies, test

docs: add changelog entry for v0.3.1
  CHANGELOG.md
Labels: documentation

docs: add changelog entry for v0.3.1 (#102)
  CHANGELOG.md
Labels: documentation

chore: audit update
  examples/client/cli/package.json
  examples/server/whoami/package.json
  library/package.json
  package.json
  pnpm-lock.yaml
Labels: library, examples, dependencies

feat: support CIMD (Client ID Metadata Documents) for client registration
  examples/client/cli/src/index.ts
  library/README.md
  library/src/client/clientMetadataDocument.test.ts
  library/src/client/clientMetadataDocument.ts
  library/src/client/index.ts
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
  library/src/client/providers/CivicAuthProvider.ts
  library/src/clientMetadataHandler.test.ts
  library/src/clientMetadataHandler.ts
  library/src/index.ts
Labels: documentation, library, examples, test

chore(release): bump version to 0.4.0 and add changelog entry
  CHANGELOG.md
  library/package.json
Labels: documentation, library, dependencies

ci: switch npm publish to Trusted Publishing (OIDC) and update workflows to Node 24
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Labels: ci

NEXUS-2342 fix(auth): accept base issuer alongside tenant-scoped issuer
  CHANGELOG.md
  library/README.md
  library/package.json
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/constants.ts
  library/src/types.ts
Labels: documentation, library, dependencies, test

chore(security): override form-data to 4.0.6 (GHSA-hmw2-7cc7-3qxx)
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix: reject Civic MCP JWTs that omit exp
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/integration/jwks-direct.test.ts
  library/src/test-utils/jwt-test-helpers.ts
Labels: library, test

NEXUS-2379 feat: drop hard @modelcontextprotocol/sdk v1 peer dependency, release 0.6.0
  CHANGELOG.md
  README.md
  library/README.md
  library/package.json
  library/src/client/clientMetadataDocument.ts
  library/src/index.ts
  library/src/sdkIsolation.test.ts
  library/src/types.ts
Labels: documentation, library, dependencies, test

NEXUS-2379 feat!: move client to @modelcontextprotocol/client v2 and release 1.0.0
  CHANGELOG.md
  examples/client/cli/package.json
  library/README.md
  library/package.json
  library/src/client/CLIClient.test.ts
  library/src/client/CLIClient.ts
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
  library/src/client/providers/CivicAuthProvider.ts
  library/src/client/providers/TokenAuthProvider.ts
  library/src/client/providers/persistence/InMemoryTokenPersistence.ts
  library/src/client/providers/persistence/TokenPersistence.ts
  library/src/client/transport/RestartableStreamableHTTPClientTransport.test.ts
  library/src/client/transport/RestartableStreamableHTTPClientTransport.ts
  library/src/sdkIsolation.test.ts
  pnpm-lock.yaml
Labels: documentation, library, examples, dependencies, test

NEXUS-2379 chore(examples): move whoami server example and README to MCP SDK v2
  CHANGELOG.md
  examples/server/whoami/package.json
  examples/server/whoami/src/index.ts
  library/README.md
  pnpm-lock.yaml
Labels: documentation, library, examples, dependencies

NEXUS-2379 chore(security): fix all pnpm audit findings and move overrides to pnpm-workspace.yaml
  CHANGELOG.md
  library/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: documentation, library, dependencies

NEXUS-2379 chore(security): resolve audit findings via dependency updates, drop pnpm overrides
  AGENTS.md
  CHANGELOG.md
  examples/client/cli/package.json
  examples/server/whoami/package.json
  library/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: documentation, library, examples, dependencies

docs(changelog): fix spacing and add 1.0.0 / 0.5.0 compare links
  CHANGELOG.md
Labels: documentation

NEXUS-2379: drop the v1 SDK peer, move client to @modelcontextprotocol/client v2 (1.0.0) (#106)
  AGENTS.md
  CHANGELOG.md
  README.md
  examples/client/cli/package.json
  examples/server/whoami/package.json
  examples/server/whoami/src/index.ts
  library/README.md
  library/package.json
  library/src/client/CLIClient.test.ts
  library/src/client/CLIClient.ts
  library/src/client/clientMetadataDocument.ts
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
  library/src/client/providers/CivicAuthProvider.ts
  library/src/client/providers/TokenAuthProvider.ts
  library/src/client/providers/persistence/InMemoryTokenPersistence.ts
  library/src/client/providers/persistence/TokenPersistence.ts
  library/src/client/transport/RestartableStreamableHTTPClientTransport.test.ts
  library/src/client/transport/RestartableStreamableHTTPClientTransport.ts
  library/src/index.ts
  library/src/sdkIsolation.test.ts
  library/src/types.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: documentation, library, examples, dependencies, test
