Repository civicteam/auth-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, library, examples, dependencies, ci, test

fix: Update pnpm version in CI workflows to match lockfile
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Labels: ci

fix: Remove lint scripts from server example
  README.md
  examples/server/whoami/package.json
Labels: documentation, examples, dependencies

fix: Update labeler workflow to avoid permission errors
  .github/workflows/labeler.yml
Labels: ci

ci: Update Node.js versions in CI matrix
  .github/workflows/ci.yml
Labels: ci

chore: Add Codecov configuration
  codecov.yml
Labels: none

fix: Remove explicit pnpm version from workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Labels: ci

fix: Remove explicit pnpm version from workflows (#8)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Labels: ci

fix: Use pnpm audit instead of npm audit in security workflow
  .github/workflows/security.yml
Labels: ci

chore: Add metadata fields to library package.json
  library/LICENSE
  library/README.md
  library/package.json
Labels: documentation, library, dependencies

fix: Use pnpm audit instead of npm audit in security workflow
  .github/workflows/security.yml
Labels: ci

chore: Add metadata fields to library package.json
  library/LICENSE
  library/README.md
  library/package.json
Labels: documentation, library, dependencies

chore: bump version to 0.1.1 and fix npm publish token
  .github/workflows/release.yml
  library/package.json
Labels: library, dependencies, ci

chore: bump version to 0.1.1 and fix npm publish token
  .github/workflows/release.yml
  library/package.json
Labels: library, dependencies, ci

chore: Add badges to library README for npm display
  library/README.md
Labels: documentation, library

chore: Add badges to library README for npm display
  library/README.md
Labels: documentation, library

homepage change
  library/package.json
Labels: library, dependencies

Minor example change
  examples/server/whoami/src/index.ts
Labels: examples

chore: bump version to 0.1.2
  library/package.json
Labels: library, dependencies

chore: bump version to 0.1.2
  library/package.json
Labels: library, dependencies

onLogin feature
  library/README.md
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/index.test.ts
  library/src/types.ts
Labels: documentation, library, test

onLogin feature
  library/README.md
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/index.test.ts
  library/src/types.ts
Labels: documentation, library, test

chore: bump version to 0.1.3
  library/package.json
Labels: library, dependencies

chore: bump version to 0.1.3
  library/package.json
Labels: library, dependencies

Allow null token and pass request into onLogin
  library/README.md
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/types.ts
Labels: documentation, library, test

feat: add request parameter to onLogin callback and setup biome linting
  biome.json
  examples/client/cli/package.json
  examples/client/cli/src/index.ts
  examples/server/whoami/package.json
  examples/server/whoami/src/index.ts
  examples/server/whoami/tsconfig.json
  library/package.json
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/client/CLIClient.test.ts
  library/src/client/CLIClient.ts
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
  library/src/client/providers/CivicAuthProvider.ts
  library/src/client/providers/TokenAuthProvider.test.ts
  library/src/client/providers/TokenAuthProvider.ts
  library/src/client/providers/index.ts
  library/src/client/transport/RestartableStreamableHTTPClientTransport.test.ts
  library/src/client/transport/RestartableStreamableHTTPClientTransport.ts
  library/src/constants.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/types.ts
  library/tsconfig.json
  library/tsup.config.ts
  package.json
  pnpm-lock.yaml
Labels: library, examples, dependencies, test

fix: address PR feedback - improve security and test coverage
  .github/codeql/codeql-config.yml
  .github/workflows/security.yml
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
  library/src/client/transport/RestartableStreamableHTTPClientTransport.test.ts
  library/src/index.test.ts
Labels: library, ci, test

fix: update tests to resolve CI failures
  library/src/client/transport/RestartableStreamableHTTPClientTransport.test.ts
  library/src/index.test.ts
Labels: library, test

fix: resolve TypeScript error in test
  library/src/index.test.ts
Labels: library, test

fix: prevent XSS vulnerability in OAuth callback
  library/package.json
  library/src/client/providers/CLIAuthProvider.ts
  library/src/index.test.ts
  pnpm-lock.yaml
Labels: library, dependencies, test

Version updates
  examples/server/whoami/package.json
  library/package.json
  pnpm-lock.yaml
Labels: library, examples, dependencies

fix: install dependencies before audit to fix caching error
  .github/workflows/security.yml
Labels: ci

fix: address PR feedback - improve security and test coverage
  .github/codeql/codeql-config.yml
  .github/workflows/security.yml
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
  library/src/client/transport/RestartableStreamableHTTPClientTransport.test.ts
  library/src/index.test.ts
Labels: library, ci, test

feat: add request parameter to onLogin callback and setup biome linting
  biome.json
  examples/client/cli/package.json
  examples/client/cli/src/index.ts
  examples/server/whoami/package.json
  examples/server/whoami/src/index.ts
  examples/server/whoami/tsconfig.json
  library/package.json
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/client/CLIClient.test.ts
  library/src/client/CLIClient.ts
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
  library/src/client/providers/CivicAuthProvider.ts
  library/src/client/providers/TokenAuthProvider.test.ts
  library/src/client/providers/TokenAuthProvider.ts
  library/src/client/providers/index.ts
  library/src/client/transport/RestartableStreamableHTTPClientTransport.test.ts
  library/src/client/transport/RestartableStreamableHTTPClientTransport.ts
  library/src/constants.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/types.ts
  library/tsconfig.json
  library/tsup.config.ts
  package.json
  pnpm-lock.yaml
Labels: library, examples, dependencies, test

fix: prevent XSS vulnerability in OAuth callback
  library/package.json
  library/src/client/providers/CLIAuthProvider.ts
  library/src/index.test.ts
  pnpm-lock.yaml
Labels: library, dependencies, test

fix: install dependencies before audit to fix caching error
  .github/workflows/security.yml
Labels: ci

Allow null token and pass request into onLogin
  library/README.md
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/types.ts
Labels: documentation, library, test

fix: resolve TypeScript error in test
  library/src/index.test.ts
Labels: library, test

fix: update tests to resolve CI failures
  library/src/client/transport/RestartableStreamableHTTPClientTransport.test.ts
  library/src/index.test.ts
Labels: library, test

Version updates
  examples/server/whoami/package.json
  library/package.json
  pnpm-lock.yaml
Labels: library, examples, dependencies

chore: bump version to 0.1.4
  library/package.json
Labels: library, dependencies

.github/labeler.yml:

# Add 'documentation' label to any change in docs files
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.md'
      - 'docs/**'

# Add 'library' label to changes in the library package
library:
  - changed-files:
    - any-glob-to-any-file: 'library/**'

# Add 'examples' label to changes in examples
examples:
  - changed-files:
    - any-glob-to-any-file: 'examples/**'

# Add 'dependencies' label to dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package.json'
      - '**/pnpm-lock.yaml'
      - '.npmrc'

# Add 'ci' label to CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'turbo.json'

# Add 'test' label to test changes
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/vitest.config.ts'
      - '**/test/**'
