Repository civicteam/auth-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, library, examples, dependencies, ci, test

.github/labeler.yml:

# Add 'documentation' label to any change in docs files
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.md'
      - 'docs/**'

# Add 'library' label to changes in the library package
library:
  - changed-files:
    - any-glob-to-any-file: 'library/**'

# Add 'examples' label to changes in examples
examples:
  - changed-files:
    - any-glob-to-any-file: 'examples/**'

# Add 'dependencies' label to dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package.json'
      - '**/pnpm-lock.yaml'
      - '.npmrc'

# Add 'ci' label to CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'turbo.json'

# Add 'test' label to test changes
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/vitest.config.ts'
      - '**/test/**'

Add automatic port fallback for CLIAuthProvider callback server
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
Labels: library, test

chore: version bump to 0.1.15
  library/package.json
Labels: library, dependencies

chore: version bump to 0.1.15
  library/package.json
Labels: library, dependencies

refactor: improve CLIAuthProvider port handling by removing actualCallbackPort property
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
Labels: library, test

feat: improved callbackServer cleanup. Fixed fallback port usecase.
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
Labels: library, test

fix: fixed token-refresh and expired token usecase, by removing unneeded token check in CLIClient.
  library/src/client/CLIClient.ts
Labels: library

tests: added more test coverage to CLIAuthProvider
  library/src/client/providers/CLIAuthProvider.test.ts
Labels: library, test

release: bump to 0.1.16
  library/package.json
Labels: library, dependencies

feat: add dynamic client registration support and client ID verification
  README.md
  docs/account-model.plantuml
  docs/dcr.plantuml
  docs/sequence.plantuml
  examples/server/whoami/package.json
  examples/server/whoami/pnpm-lock.yaml
  examples/server/whoami/src/index.ts
  library/README.md
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/constants.ts
  library/src/types.ts
  pnpm-lock.yaml
Labels: documentation, library, examples, dependencies, test

chore: bump version to 0.2.0
  library/package.json
Labels: library, dependencies

Legacy oauth progress
  README.md
  examples/server/whoami/src/index.ts
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/legacy/OAuthProxyHandler.ts
  library/src/legacy/StateStore.ts
  library/src/legacy/constants.ts
  library/src/legacy/index.ts
  library/src/legacy/types.ts
  library/src/types.ts
  pnpm-lock.yaml
  test-legacy-oauth.sh
Labels: documentation, library, examples, dependencies, test

Legacy oauth complete
  codecov.yml
  examples/server/whoami/src/index.ts
  library/README.md
  library/package.json
  library/src/index.ts
  library/src/legacy/LegacyOAuthRouter.test.ts
  library/src/legacy/LegacyOAuthRouter.ts
  library/src/legacy/OAuthProxyHandler.test.ts
  library/src/legacy/OAuthProxyHandler.ts
  library/src/legacy/StateStore.test.ts
  library/src/legacy/StateStore.ts
  library/src/legacy/index.ts
  test-legacy-oauth.sh
Labels: documentation, library, examples, dependencies, test

Legacy oauth - support injecting a state store
  library/README.md
  library/src/index.test.ts
  library/src/index.ts
  library/src/legacy/LegacyOAuthRouter.test.ts
  library/src/legacy/OAuthProxyHandler.test.ts
  library/src/types.ts
Labels: documentation, library, test

Release v0.2.1: Support legacy MCP OAuth
  library/package.json
Labels: library, dependencies

Update express to v5, mcp sdk to 1.13.2, jose to 6.
  biome.json
  examples/client/cli/package.json
  examples/server/whoami/package.json
  library/package.json
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/client/index.ts
  library/src/client/providers/index.ts
  library/src/client/providers/persistence/index.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/legacy/LegacyOAuthRouter.test.ts
  library/src/legacy/LegacyOAuthRouter.ts
  library/src/legacy/OAuthProxyHandler.ts
  library/src/legacy/index.ts
  package.json
  pnpm-lock.yaml
Labels: library, examples, dependencies, test

Add audit-ci
  .github/workflows/ci.yml
  README.md
  audit-ci.jsonc
  package.json
  pnpm-lock.yaml
Labels: documentation, dependencies, ci

Make express an optional peer dependency
  library/package.json
  pnpm-lock.yaml
Labels: library, dependencies

Add some test coverage
  library/src/index.test.ts
Labels: library, test

Add local JWKS support for testing
  codecov.yml
  examples/server/whoami/src/index.ts
  jwks-plan.md
  library/README.md
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/integration/jwks-direct.test.ts
  library/src/test-utils/generateKeyAndJWT.ts
  library/src/test-utils/jwt-test-helpers.ts
  library/src/types.ts
Labels: documentation, library, examples, test

Dependency update and improve test support for local jwks
  library/package.json
  library/src/integration/jwks-direct.test.ts
  library/src/test-utils/generateKeyAndJWT.ts
  library/src/test-utils/jwt-test-helpers.ts
  pnpm-lock.yaml
Labels: library, dependencies, test

Add option to disable client ID verification
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/types.ts
Labels: library, test

fix: prevent handleRequest of the auth middleware to throw (and cause 500 responses)
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
Labels: library, test

Release v0.2.2
  library/package.json
Labels: library, dependencies

feat: handle all OAuth protected resource routes with wildcard matching
  library/src/index.ts
Labels: library

feat: change dynamic client registration to use path-based client ID
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
Labels: library, test

fix: update @types/supertest to resolve critical security vulnerability
  pnpm-lock.yaml
Labels: dependencies

Release v0.2.3
  CHANGELOG.md
  library/package.json
Labels: documentation, library, dependencies

feat: add forceHttps option to use HTTPS for auth URLs
  library/src/index.ts
  library/src/legacy/LegacyOAuthRouter.ts
  library/src/legacy/OAuthProxyHandler.ts
  library/src/legacy/types.ts
  library/src/test-utils/generateKeyAndJWT.ts
  library/src/test-utils/jwt-test-helpers.ts
  library/src/types.ts
Labels: library

chore: prepare v0.2.4 release
  CHANGELOG.md
  library/package.json
Labels: documentation, library, dependencies

fix: add false positive malware reports to audit-ci allowlist
  audit-ci.jsonc
Labels: none

fix: ensure OAuth authorization requests always include scopes
  library/src/legacy/OAuthProxyHandler.ts
Labels: library

chore: prepare v0.2.5 release
  CHANGELOG.md
  library/package.json
Labels: documentation, library, dependencies

fix: add WWW-Authenticate header to 401 responses per RFC9728
  library/src/index.test.ts
  library/src/index.ts
  library/src/legacy/OAuthProxyHandler.ts
Labels: library, test

chore: prepare v0.2.6 release
  CHANGELOG.md
  library/package.json
Labels: documentation, library, dependencies

AUTH-3: Added fix: prefer tid over clientId
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
Labels: library, test

AUTH-3: Added fix: audit
  .gitignore
  library/package.json
  package.json
  pnpm-lock.yaml
Labels: library, dependencies

AUTH-3: Added fix: turbo build
  turbo.json
Labels: ci

AUTH-3: Added fix: prefer tid test
  library/src/McpServerAuth.test.ts
Labels: library, test

AUTH-3: Added fix: add tenantId to clientId
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/types.ts
Labels: library, test

AUTH-3: Added fix: tests
  library/src/McpServerAuth.test.ts
Labels: library, test
