Repository civicteam/auth-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, library, examples, dependencies, ci, test

fix: allow onLogin callback to return null
  library/src/types.ts
Labels: library

fix: allow onLogin callback to return null
  library/src/types.ts
Labels: library

chore: bump version to 0.1.5
  library/package.json
Labels: library, dependencies

chore: release v0.1.6
  library/package.json
  library/src/McpServerAuth.ts
  library/src/index.ts
  library/src/types.ts
Labels: library, dependencies

chore: release v0.1.6
  library/package.json
  library/src/McpServerAuth.ts
  library/src/index.ts
  library/src/types.ts
Labels: library, dependencies

Removing some unnecessary logging
  library/src/client/CLIClient.ts
  library/src/index.ts
Labels: library

chore: release v0.1.7
  examples/server/whoami/src/index.ts
  library/README.md
  library/package.json
Labels: documentation, library, examples, dependencies

chore: bump version to 0.1.8, readme and spec cleanup
  library/README.md
  library/package.json
  upgrade-proposal.md
Labels: documentation, library, dependencies

chore: release v0.1.7
  examples/server/whoami/src/index.ts
  library/README.md
  library/package.json
Labels: documentation, library, examples, dependencies

chore: bump version to 0.1.8, readme and spec cleanup
  library/README.md
  library/package.json
  upgrade-proposal.md
Labels: documentation, library, dependencies

feature: configurable MCP route
  examples/client/cli/.env.example
  examples/client/cli/src/index.ts
  examples/server/whoami/src/index.ts
  library/README.md
  library/src/client/CLIClient.test.ts
  library/src/client/CLIClient.ts
  library/src/constants.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/types.ts
Labels: documentation, library, examples, test

chore: bump version to 0.1.9 and document mcpRoute option
  library/README.md
  library/package.json
Labels: documentation, library, dependencies

feature: configurable MCP route
  examples/client/cli/.env.example
  examples/client/cli/src/index.ts
  examples/server/whoami/src/index.ts
  library/README.md
  library/src/client/CLIClient.test.ts
  library/src/client/CLIClient.ts
  library/src/constants.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/types.ts
Labels: documentation, library, examples, test

chore: bump version to 0.1.9 and document mcpRoute option
  library/README.md
  library/package.json
Labels: documentation, library, dependencies

chore: Licence text update
  README.md
Labels: documentation

chore: bump version to 0.1.10
  library/package.json
Labels: library, dependencies

chore: bump version to 0.1.10
  library/package.json
Labels: library, dependencies

chore: Licence text update
  README.md
Labels: documentation

chore: bump version to 0.1.11 and update README
  library/README.md
  library/package.json
Labels: documentation, library, dependencies

chore: bump version to 0.1.11 and update README
  library/README.md
  library/package.json
Labels: documentation, library, dependencies

feat: add pluggable token persistence strategies for auth providers
  library/README.md
  library/src/client/CLIClient.ts
  library/src/client/providers/CLIAuthProvider.ts
  library/src/client/providers/CivicAuthProvider.ts
  library/src/client/providers/TokenAuthProvider.ts
  library/src/client/providers/index.ts
  library/src/client/providers/persistence/FileTokenPersistence.test.ts
  library/src/client/providers/persistence/FileTokenPersistence.ts
  library/src/client/providers/persistence/InMemoryTokenPersistence.ts
  library/src/client/providers/persistence/TokenPersistence.ts
  library/src/client/providers/persistence/index.ts
Labels: documentation, library, test

feat: allow to pass custom successHtml and errorHtml as CLIAuthProviderOptions
  library/src/client/providers/CLIAuthProvider.ts
Labels: library

feat: removed FileTokenPersistence.ts (will live in integrating codebase)
  library/README.md
  library/src/client/providers/index.ts
  library/src/client/providers/persistence/FileTokenPersistence.test.ts
  library/src/client/providers/persistence/FileTokenPersistence.ts
  library/src/client/providers/persistence/index.ts
Labels: documentation, library, test

feat: allow to pass custom successHtml and errorHtml as CLIAuthProviderOptions
  library/README.md
  library/src/client/providers/CLIAuthProvider.ts
Labels: documentation, library

Update README.md
  library/README.md
Labels: documentation, library

feat: add pluggable token persistence strategies for auth providers
  library/README.md
  library/src/client/CLIClient.ts
  library/src/client/providers/CLIAuthProvider.ts
  library/src/client/providers/CivicAuthProvider.ts
  library/src/client/providers/TokenAuthProvider.ts
  library/src/client/providers/index.ts
  library/src/client/providers/persistence/FileTokenPersistence.test.ts
  library/src/client/providers/persistence/FileTokenPersistence.ts
  library/src/client/providers/persistence/InMemoryTokenPersistence.ts
  library/src/client/providers/persistence/TokenPersistence.ts
  library/src/client/providers/persistence/index.ts
Labels: documentation, library, test

Update README.md
  library/README.md
Labels: documentation, library

feat: allow to pass custom successHtml and errorHtml as CLIAuthProviderOptions
  library/README.md
  library/src/client/providers/CLIAuthProvider.ts
Labels: documentation, library

feat: allow to pass custom successHtml and errorHtml as CLIAuthProviderOptions
  library/src/client/providers/CLIAuthProvider.ts
Labels: library

feat: removed FileTokenPersistence.ts (will live in integrating codebase)
  library/README.md
  library/src/client/providers/index.ts
  library/src/client/providers/persistence/FileTokenPersistence.test.ts
  library/src/client/providers/persistence/FileTokenPersistence.ts
  library/src/client/providers/persistence/index.ts
Labels: documentation, library, test

chore: Licence and readme text update
  README.md
  examples/client/cli/src/index.ts
  library/README.md
Labels: documentation, library, examples

chore: bump version to 0.1.12
  library/package.json
Labels: library, dependencies

chore: bump version to 0.1.12
  library/package.json
Labels: library, dependencies

chore: Licence and readme text update
  README.md
  examples/client/cli/src/index.ts
  library/README.md
Labels: documentation, library, examples

fix: handle JWT verification errors properly with 401 response
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
  library/src/constants.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/types.ts
Labels: library, test

fix: handle JWT verification errors properly with 401 response
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
  library/src/constants.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/types.ts
Labels: library, test

chore: bump version to 0.1.13
  library/package.json
Labels: library, dependencies

chore: bump version to 0.1.13
  library/package.json
Labels: library, dependencies

fix: correct offline_access scope format
  library/package.json
  library/src/constants.ts
  library/src/index.test.ts
Labels: library, dependencies, test

fix: correct offline_access scope format
  library/package.json
  library/src/constants.ts
  library/src/index.test.ts
Labels: library, dependencies, test

.github/labeler.yml:

# Add 'documentation' label to any change in docs files
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.md'
      - 'docs/**'

# Add 'library' label to changes in the library package
library:
  - changed-files:
    - any-glob-to-any-file: 'library/**'

# Add 'examples' label to changes in examples
examples:
  - changed-files:
    - any-glob-to-any-file: 'examples/**'

# Add 'dependencies' label to dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package.json'
      - '**/pnpm-lock.yaml'
      - '.npmrc'

# Add 'ci' label to CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'turbo.json'

# Add 'test' label to test changes
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/vitest.config.ts'
      - '**/test/**'
