Repository civicteam/auth-mcp, pull requests merged in 2025-06, with the labels that each got.

#32 Add automatic port fallback for CLIAuthProvider callback server
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
Labels: library, test

#34 CLIAuthProvider fixes and improvements
  library/src/client/CLIClient.ts
  library/src/client/providers/CLIAuthProvider.test.ts
  library/src/client/providers/CLIAuthProvider.ts
Labels: library, test

#35 release: bump to 0.1.16
  library/package.json
Labels: dependencies, library

#39 Feature/auth server
  README.md
  codecov.yml
  examples/server/whoami/src/index.ts
  library/README.md
  library/package.json
  library/src/McpServerAuth.test.ts
  library/src/McpServerAuth.ts
  library/src/index.test.ts
  library/src/index.ts
  library/src/legacy/LegacyOAuthRouter.test.ts
  library/src/legacy/LegacyOAuthRouter.ts
  library/src/legacy/OAuthProxyHandler.test.ts
  library/src/legacy/OAuthProxyHandler.ts
  library/src/legacy/StateStore.test.ts
  library/src/legacy/StateStore.ts
  library/src/legacy/constants.ts
  library/src/legacy/index.ts
  library/src/legacy/types.ts
  library/src/types.ts
  pnpm-lock.yaml
Labels: documentation, dependencies, library, examples, test
